@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

.header {
  font-family: 'Permanent Marker' !important;
  text-align: center;
  font-size: 40px !important;
  color: deeppink;
  text-shadow: 1px 1px darkmagenta;
}
